---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<ul>
				{
					posts.map((post) => (
						<li class="my-2">
							<a href={`/blog/${post.slug}/`}>

								<div class="flex items-center flex-row text-base text-gray-500 hover:text-gray-700 border-b-transparent border-b-2 transition-color duration-200 hover:border-b-gray-400 ">
									<div class="text-sm text-gray-400"><FormattedDate date={post.data.pubDate} /></div>
									
									<div class="ml-10">{post.data.title}</h4>
								</div>

				
							</a>
						</li>
					))
				}
			</ul>

		</main>
		<Footer />
	</body>
</html>
